.content{
    margin: 1rem;
}

.profile_img{
    width: 100%;
}

.profile, .p_related{
    margin: 1rem;
}

a.psoe{
    display: inline-block;
    width: 50%;
    margin-top: 1rem;
    padding: 0.5rem;

    color: white;
    text-align: center;
    
    background-color: var(--psoe);
    border-radius: 5px;
}


.related_header{
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: left;
    color: white;
}

.related{
    background-color: var(--light-dark);
    max-height: 100px;
    margin-top: 0.3rem;

    text-decoration: none;
    display: grid;
    grid-template-columns: 100px 1fr;

    transform: scale(1);
    transition: 1s;
}

.related > img{
    height: inherit;
}

.related:hover{
    transform: scale(1.03);
    transition: 1s;
}

@media screen and (min-width: 600px) {
    .profile_content{

    }
}

@media screen and (min-width: 768px) {
    .profile_content{
        display: grid;
        grid-template-columns: 10vw 1fr 33vw 10vw;
    }
    .profile{
        grid-column: 2;
        grid-row: 1;
    }
    .profile_img{
        grid-column: 3;
        margin-top: 1rem;
        width: 33vw;
    }
    .p_related{
        grid-row: 2;
        grid-column: 2/span 2;
        margin: 0;
    }
}
